.header {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
    .title {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
  .login {
    padding: 5px 10px;
  }
}